.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    padding: 10px 15px;
}

.header .content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 15px;
}

.logo {
    font-size: 40px;
    font-family: 'Prata', serif;
    letter-spacing: 10px;
}

.relative {
    position: relative;
}

.productsInCart {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-terciary);
    color: var(--text-invert);
    top: -5px;
    right: -5px;
    font-size: 14px;
}